<%- include('../includes/start.ejs') %> <%- include('../includes/header.ejs') %>

<form
  class="form-group col-6 m-auto"
  action="/savePassword"
  method="POST"
>
  <h1>Change Password Form</h1>
  <div class="form-group">
    <label for="pass">Password</label>
    <input
      type="password"
      class="form-control"
      id="pass"
      name="userPass"
    />
    <label for="confpass">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confpass"
      name="userConfPass"
    />
  </div>
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  <input type="hidden" name="userId" value="<%=userId%>" />
  <input type="hidden" name="token" value="<%=token%>" />
  <button class="btn btn-primary" type="submit">
    Save Password
  </button>
</form>

<%- include('../includes/end.ejs') %>
